

<%- include('../template/header'); %>
<body onload="getDatas()">
  <main class="main" id="top">
        <!-- <div class="container" data-layout="container"> -->

    <%- include('../template/navbar'); %>


    <div class="container-fluid">

  
        <div class="parent">
            <!-- 1st div  -->
         
                <div class="div1">  
                    
                    </div>
                  
                
        

            <div class="div2"> 
         
            </div>
            
            </div>
            <%-include("../template/tagNav"); %>
        </div>
       
<%-include("../template/customize"); %>
<%-include("../template/footer"); %>
<%-include("../template/scripts"); %>
<script src="scripts/home.js"></script>
</body>
      
</html>