<%- include('../template/header'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <body onload="getData()">
    <main class="main " id="top">
        <%- include('../template/navbar'); %> 
      
      <div class="content mx-auto mt-2" style="width:70%">

<div class="card mb-3">
    <div class="card-body">
      <div class="row justify-content-between align-items-center">
        <div class="col-md">
          
        </div>
        <div class="col-auto">
          <button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" onclick="downloadPdf()" type="button">
          
             <span class="fas fa-arrow-down me-1"> </span> 
             Download (.pdf)</button>
         
         
      </div>
    </div>
  </div>

  <div class="card mb-3 " id="pdfBody">
    <div class="card-body">
      <div class="row align-items-center text-center mb-3">
        <div class="col-sm-6 text-sm-start ">
            <img src="/assets/img/logos/cct.png"  class="rounded-circle" alt="invoice" width="150"></div>
        <div class="col text-sm-end mt-3 mt-sm-0">
          <h2 class="mb-3">Invoice</h2>
          <h5>Charity Contribution Tracker</h5>
          <p class="fs--1 mb-0"></p>
        </div>
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-500">Invoice to</h6>
          <h5><%= usersInfo.userName %> </h5>
       
          <p class="fs--1"><a ><%= usersInfo.email  %> </a><br>
           
        </div>
        <div class="col-sm-auto ms-auto">
          <div class="table-responsive">
            <table class="table table-sm table-borderless fs--1">
              <tbody>
                <tr>
                  <th class="text-sm-end">Invoice No:</th>
                  <td><%= invoice[0].invoice_id %> </td>
                </tr>
                <tr>
                  <th class="text-sm-end">Order Number:</th>
                  <td><%=  invoice[0].tran_id%> </td>
                </tr>
                <tr>
                  <th class="text-sm-end">Invoice Date:</th>
                  <% const created_at=new Date(invoice[0].transaction_time); %> 
                  <td><%= created_at.toLocaleString("en") %></td>
                </tr>
                <tr>
                  <th class="text-sm-end">Card Type:</th>
                  <td><%= invoice[0].card_type %> </td>
                </tr>
          
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="table-responsive scrollbar mt-4 fs--1">
        <table class="table table-striped border-bottom">
          <thead class="light">
            <tr class="bg-primary text-white dark__bg-1000">
              <th class="border-0">Description</th>
              <th class="border-0 text-center">Quantity</th>
              <th class="border-0 text-end">Project id</th>
              <th class="border-0 text-end">Amount</th>
            </tr>
          </thead>
          <tbody>
            <% inVoiceItems.map(item=>{ %>

        
            <tr>
              <td class="align-middle">
                <h6 class="mb-0 text-nowrap"><%= item.title %> </h6>
                
              </td>
              <td class="align-middle text-center">1</td>
              <td class="align-middle text-end"><%=item.project_id %></td>
              <td class="align-middle text-end"><%= item.amount.toFixed(2) %></td>
              
            </tr>
    <%     }) %>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto">
          <table class="table table-sm table-borderless fs--1 text-end">
            <tbody>
                <tr>
                    
   
            <th class="text-900">Total Items:</th>
            <td class="fw-semi-bold text-start"><%= inVoiceItems.length %>   |</td>
         

           
            <th class="text-900">Total:</th>
            <td class="fw-semi-bold">$<%= invoice[0].amount.toFixed(2) %>  </td>
      
                </tr>


       
        
  
          </tbody></table>
        </div>
      </div>
    </div>
    <div class="card-footer bg-light">
      <p class="fs--1 mb-0"><strong>Notes: </strong>We really appreciate your business and if there’s anything else we can do, please let us know!</p>
    </div>
  </div>

</div>
</main>

<%-include("../template/scripts"); %>
</body>



<script>
function getData(){
  document.getElementById("loading-spinner").style.display = "none";
}

 function downloadPdf(){
    var pdf = new jsPDF('p', 'mm', [297, 210]);
 
    
	  pdf.addHTML($('#pdfBody'), function() {
	  pdf.save('invoice.pdf');
	})

   }



    
    
    </script>
    
</html>
