<%- include('../template/header'); %>
<link href="vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />

  <body>

    <main class="main " id="top">
      <%- include('../template/navbar'); %>
      <div class="content mt-4 ">

        <div class="row">
          <div class="col-10 mx-auto">
            <div class="card mb-3 btn-reveal-trigger">
              <div class="card-header position-relative min-vh-25 mb-8">
                <div class="cover-image">
                  <div class="bg-holder rounded-3 rounded-bottom-0"
                    style="background-image:url(../../assets/img/generic/4.jpg);">
                  </div>
                  <!--/.bg-holder-->

                  <input class="d-none" id="upload-cover-image" type="file" />
                  <label class="cover-image-file-input" for="upload-cover-image"><span
                      class="fas fa-camera me-2"></span><span>Change cover photo</span></label>
                </div>

                <form action="/changePicture" method="post" id="changePicture" enctype="multipart/form-data">

         
                <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                  <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"> 
                   <% if(data.profile_pic.substring(0, 5)=="photo"){ %>
                    <img src="uploads/<%=data.profile_pic%>" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                 <%  } else{ %> 
                 <img src="<%=data.profile_pic%>" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />

                 <% } %> 
                    <input class="d-none" id="profile-image" type="file" name="photo" onchange="changePicture()"/>
                    <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                        class="bg-holder overlay overlay-0"></span><span
                        class="z-index-1 text-white dark__text-white text-center fs--1"><span
                          class="fas fa-camera"></span><span class="d-block">Update</span></span></label>
                      <button  hidden type="submit"></button>
                        </div>
                </div>
              </form>

              </div>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto">
          <div class="row g-0 ">
            <div class="col-lg-8 pe-lg-2 mx-auto">
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Profile Settings</h5>
                </div>
                <div class="card-body bg-light">
                  <form class="row g-3">
                    <div class="col-lg-6">
                      <label class="form-label" for="first-name">First Name</label>
                      <input class="form-control" id="firstName" type="text" value="<%= data.first_name %> " />
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="last-name">Last Name</label>
                      <input class="form-control" id="lastName" type="text" value="<%= data.last_name %> " />
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="email1">Email</label>
                      <% if(data.idRef=="facebook" || data.idRef=="google" ) { %>
                      <input class="form-control" disabled id="email" type="text" value="<%= data.email %> " />
                      <p class="text-danger" style="font-size: 12px;margin-left: 2px;">Facebook or Google Connected email cannot be changerd.</p>
                      <% } else {%> 
                   <input class="form-control" disabled id="email" type="text" value="<%= data.email %> " />
                    
                   <% } %> 
                    </div>
                    <div class="col-lg-6">
                      <div class="row g-1">
                        <div class="col-5">
                          <label class="form-label" for="countryCode">Country code</label>
                          <select name="countryCode" id="phoneCode" class="form-control" id="countryCode">
                            <%countryCode.map(item=>{ %>
                              <option name="phoneCode"  class="form-control" <%=item.phonecode==data.phone_code?"selected":""%>  value="<%=item.phonecode%>" >
                       
                       
                                <p class="px-1  lh-1 ">
                                  <%=item.name.substring(0,3)%> 
                                </p>
                                <p class=" ml-2 lh-1">
                                  +<%=item.phonecode %> 
                                </p>
                                
                              </option>
                              <% })%>

                          </select>
                        </div>
                        <div class="col-7">
                          
                          <label class="form-label" for="phoneNum">Phone</label>
                          <input class="form-control" placeholder="Enter your phone number" minlength="6" size="10"
                            maxlength="10" type="telephone" autocomplete="on" name="phone" value="<%= data.phone %> " id="phone" required />
                   
                          </div>
                      </div>

                    </div>
                   

                   <div class="col-12">
                       <!-- toast  -->
                <button class="btn btn-primary" id="liveToastBtn" type="button" hidden>Show live toast</button>
                <div class="d-flex flex-center" style="z-index: 11111">
                  <div class="toast fade" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header bg-danger text-white"><strong class="me-auto">Warning</strong>
                      <button class="btn-close btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">Please Fill the required fields</div>
                  </div>
                </div>
                <!-- toast  -->
                   </div>
             
                   
                    <div class="col-12 d-flex justify-content-end">
                      <button class="btn btn-primary" onclick="generalSettings()" type="button">Update </button>
                    </div>
                    <div  id="genSettingsAlert" hidden  class="alert alert-success mt-2" role="alert">Successfully updated!</div>
                  </form>
                </div>
              </div>


              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Linked Account</h5>
                </div>
                <div class="card-body bg-light">
                  <div class="col-lg-6 mt-4">
                      <% if(data.idRef=="facebook") { %>
                      
                        <div class="d-grid gap-2" style="width:90%;height:50px;background-color: rgb(47, 47, 110);">
                          <button class="btn  text-left text-white" type="button">
                            <i class="fa-brands fa-square-facebook"></i>
                            Connected with Facebook
                          </button>
                          <% }%>
                          <% if(data.idRef=="google") { %>
                      
                            <div class="d-grid gap-2" style="width:90%;height:50px;background-color: rgb(47, 47, 110);">
                              <button class="btn  text-left text-white" type="button">
                                <i class="fa-brands fa-google"></i>
                                Connected with Google
                              </button>
                              <% }%>
                        </div>
                  </div>
                </div>
              </div>

              

            </div>
            <div class="col-lg-4 ps-lg-2">
              <div class="sticky-sidebar">
                <div class="card mb-3 overflow-hidden">
                  <div class="card-header">
                    <h5 class="mb-0">Birthdate & Gender</h5>
                  </div>
                  <div class="card-body bg-light">

                  
                    <div class="ps-2">
                      <form action="/saveGenderBdate" method="post">
                        <h6 class="fw-bold">Change Gender<span class="fs--2 ms-1 text-primary"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          title=""><span
                            class="fas fa-question-circle"></span></span></h6>
                        <div class="form-check mb-0 lh-1">
                          <input class="form-check-input gender" type="radio" value="male" id="gender"
                            name="view-settings" />
                          <label class="form-check-label mb-0" for="everyone">Male
                          </label>
                        </div>
                        <div class="form-check mb-0 lh-1">
                          <input class="form-check-input gender" type="radio" value="female" id="gender"
                            checked="checked" name="view-settings" />
                          <label class="form-check-label mb-0" for="my-followers">Female
                          </label>
                        </div>
                        <div class="form-check mb-2 lh-1">
                          <input class="form-check-input gender" type="radio" value="others" id="gender"
                            name="view-settings" />
                          <label class="form-check-label mb-0" for="only-me">Others
                          </label>
                        </div>

                        <!-- birthdate -->
                        <h6 class="fw-bold">Change Birthdate<span class="fs--2 ms-1 text-primary"
                          data-bs-toggle="tooltip" data-bs-placement="top"><span
                            class="fas fa-question-circle"></span></span></h6>
                        <div class=" mb-2 lh-1 col-12">
                          <div class="col-6">

                            <input class="form-control datetimepicker" id="datepicker" type="text" placeholder="d/m/y" data-options='{"disableMobile":true}' value="<%=data.birthdate %>" />
                          
                          </div>
                        </div>

                        <!-- end birthdate  -->
                        <button class="btn btn-primary d-block w-100" onclick="genderBdate()" type="button">Update </button>
                        
                        <div  id="genBdateAlert" hidden  class="alert alert-success mt-2" role="alert">Successfully updated!</div>
                      </form>
                        </div>


                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">Change Password</h5>
                  </div>
                  <div class="card-body bg-light">
                    <form>
                      <div class="mb-3">
                        <label class="form-label" for="old-password">Old Password</label>
                        <input class="form-control" id="old-password" type="password" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="new-password">New Password</label>
                        <input class="form-control" id="new-password" type="password" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="confirm-password">Confirm Password</label>
                        <input class="form-control" id="confirm-password" type="password" />
                      </div>
                      <button class="btn btn-primary d-block w-100" type="submit">Update Password </button>
                    </form>
                  </div>
                </div>
    
              </div>
            </div>
          </div>

        </div>

      </div>


    </main>



    <script src="assets/js/flatpickr.js"></script>

    <%-include("../template/customize"); %>
      <%-include("../template/scripts"); %>


      <script>

        //save birthdate and gender
async function genderBdate() {
    let genderCheck = document.getElementsByClassName('gender');
    let birthdate = document.getElementById("datepicker")
    let gender;
    Array.from(genderCheck).map((item) => {
        if (item.checked) 
            gender = item.value;
        
    });
    console.log(gender);
    console.log(birthdate.value);
    var data = new FormData();

    data.append("gender", gender);
    data.append("birthdate", birthdate.value);
    const rawResponse = await fetch("/saveGenderBdate", {
        method: "POST",
        body: data
    });
    const content = await rawResponse.json();
    console.log(content);
    if (content.affectedRows == 1) {
        genBdateAlert.removeAttribute('hidden')
        setTimeout(() => {
            genBdateAlert.setAttribute('hidden', '')
        }, 5000);
    }

}

async function generalSettings() {
let firstName=document.getElementById('firstName')
let lastName=document.getElementById('lastName')
let email=document.getElementById('email')
let phoneCode=document.getElementById('phoneCode')
let phone=document.getElementById('phone')

if(phone.value.length<1){
  const liveToastBtn=document.getElementById('liveToastBtn')
  liveToastBtn.click()
}
    var data = new FormData();

    data.append("firstName", firstName.value);
    data.append("lastName", lastName.value);
    data.append("email", email.value);
    data.append("phoneCode", phoneCode[phoneCode.selectedIndex].value);
    data.append("phone", phone.value);

    const rawResponse = await fetch("/saveProfileData", {
        method: "POST",
        body: data
    });
    const content = await rawResponse.json();
    console.log(content);
    if (content.affectedRows == 1) {
      genSettingsAlert.removeAttribute('hidden')
        setTimeout(() => {
          genSettingsAlert.setAttribute('hidden', '')
        }, 5000);
    }

}


function changePicture(){
  const changePicture=document.getElementById('changePicture')
  console.log(changePicture);
  changePicture.submit()
}

      </script>

  </body>

  </html>