<%- include('../template/header'); %>
<link href="vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />

  <body>

    <main class="main " id="top">
      <%- include('../template/navbar'); %>
      <div class="content mt-4 ">

        <div class="row">
          <div class="col-10 mx-auto">
            <div class="card mb-3 btn-reveal-trigger">
              <div class="card-header position-relative min-vh-25 mb-8">
                <div class="cover-image">
                  <div class="bg-holder rounded-3 rounded-bottom-0"
                    style="background-image:url(../../assets/img/generic/4.jpg);">
                  </div>
                  <!--/.bg-holder-->

                  <input class="d-none" id="upload-cover-image" type="file" />
                  <label class="cover-image-file-input" for="upload-cover-image"><span
                      class="fas fa-camera me-2"></span><span>Change cover photo</span></label>
                </div>

                <form action="/changePicture" method="post" id="changePicture" enctype="multipart/form-data">

         
                <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                  <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"> 
                   <% if(data.profile_pic.substring(0, 5)=="photo"){ %>
                    <img src="uploads/<%=data.profile_pic%>" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                 <%  } else{ %> 
                 <img src="<%=data.profile_pic%>" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />

                 <% } %> 
                    <input class="d-none" id="profile-image" type="file" name="photo" onchange="changePicture()"/>
                    <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                        class="bg-holder overlay overlay-0"></span><span
                        class="z-index-1 text-white dark__text-white text-center fs--1"><span
                          class="fas fa-camera"></span><span class="d-block">Update</span></span></label>
                      <button  hidden type="submit"></button>
                        </div>
                </div>
              </form>

              </div>
            </div>
          </div>
        </div>
        <div class="col-10 mx-auto">
          <div class="row g-0 ">
            <div class="col-lg-8 pe-lg-2 mx-auto">
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Profile Settings</h5>
                </div>
                <div class="card-body bg-light">
                  <form class="row g-3">
                    <div class="col-lg-6">
                      <label class="form-label" for="first-name">First Name</label>
                      <input class="form-control" id="firstName" type="text" value="<%= data.first_name %>" />
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="last-name">Last Name</label>
                      <input class="form-control" id="lastName" type="text" value="<%= data.last_name %>" />
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="email1">Email</label>
                      <% if(data.idRef=="facebook" || data.idRef=="google" ) { %>
                      <input class="form-control" disabled id="email" type="text" value="<%=data.email%>" />
                      <p class="text-danger" style="font-size: 12px;margin-left: 2px;">Facebook or Google Connected email cannot be changed.</p>
                      <% } else {%> 
                   <input class="form-control" id="email" type="text" value="<%= data.email %>" />
                    
                   <% } %> 
                    </div>
                    <div class="col-lg-6">
                      <div class="row g-1">
                        <div class="col-5">
                          <label class="form-label" for="countryCode">Country code</label>
                          <select name="countryCode" id="phoneCode" class="form-control" id="countryCode">
                            <%countryCode.map(item=>{ %>
                              <option name="phoneCode"  class="form-control" <%=item.phonecode==data.phone_code?"selected":""%>  value="<%=item.phonecode%>" >
                       
                       
                                <p class="px-1  lh-1 ">
                                  <%=item.name.substring(0,3)%> 
                                </p>
                                <p class=" ml-2 lh-1">
                                  +<%=item.phonecode %> 
                                </p>
                                
                              </option>
                              <% })%>

                          </select>
                        </div>
                        <div class="col-7">
                          
                          <label class="form-label" for="phoneNum">Phone</label>
                          <input class="form-control" placeholder="Enter your phone number" minlength="6" size="10"
                            maxlength="10" type="telephone" autocomplete="on" name="phone" value="<%= data.phone %> " id="phone" required />
                   
                          </div>
                      </div>

                    </div>
                   

                   <div class="col-12">
                       <!-- toast  -->
                <button class="btn btn-primary" id="liveToastBtn" type="button" hidden>Show live toast</button>
                <div class="d-flex flex-center" style="z-index: 11111">
                  <div class="toast fade" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header bg-danger text-white"><strong class="me-auto">Warning</strong>
                      <button class="btn-close btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">Please Fill the required fields</div>
                  </div>
                </div>
                <!-- toast  -->
                   </div>
             
                   
                    <div class="col-12 d-flex justify-content-end">
                      <button class="btn btn-primary" onclick="generalSettings()" type="button">Update </button>
                    </div>
                    <div  id="genSettingsAlert" hidden  class="alert alert-success mt-2" role="alert">Successfully updated!</div>
                  </form>
                </div>
              </div>


              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Linked Account</h5>
                </div>
                <div class="card-body bg-light">
                  <div class="col-lg-6 mt-4">
                      <% if(data.idRef=="facebook") { %>
                      
                        <div class="d-grid gap-2" style="width:90%;height:50px;background-color: rgb(47, 47, 110);">
                          <button class="btn  text-left text-white" type="button">
                            <i class="fa-brands fa-square-facebook"></i>
                            Connected with Facebook
                          </button>
                        </div>
                          <% }%>
                          <% if(data.idRef=="google") { %>
                      
                            <div class="d-grid gap-2" style="width:90%;height:50px;background-color: #dd4b39;">
                              <button class="btn  text-left text-white" type="button">
                                <i class="fa-brands fa-google"></i>
                                Connected with Google
                              </button>
                            </div>
                              <% }%>
                              <% if(data.idRef=="registration") { %>
                      
                                <div class="d-grid gap-2" style="width:90%;height:50px;background-color: rgb(27, 116, 167);">
                                  <button class="btn  text-left text-white" type="button">
                                    <i class="fa-solid fa-user"></i>
                                    Not Connected
                                  </button>
                                </div>
                                  <% }%>                               
              </div>
            </div>
          </div>
                       
               

          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0">Adress</h5>
            </div>
            <div class="card-body bg-light">
              <div class="col-lg-12 ">
                <form class="row g-3">
              
                  <div class="col-lg-12">
                    <label class="form-label" for="street-adress">Street Adress</label>
                    <input class="form-control" id="street-adress" name="street-adress" type="text" value="<%=data.street_adress%>" />
                  </div>
                  <div class="col-lg-4">
                    <label class="form-label" for="city">City</label>
                    <input class="form-control" id="city" name="city" type="text" value="<%=data.city%>" />
                  </div>

                  <div class="col-lg-4">
                    <label class="form-label" for="state">State</label>
                    <input class="form-control" id="state" name="state" type="text" value="<%=data.state%>" />
                  </div>
                  <div class="col-lg-4">
                    <label class="form-label" for="zipcode">Zip Code</label>
                    <input class="form-control" id="zipcode" name="zipcode" type="number"  value="<%=data.zipcode%>"/>
                  </div>



                  <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-primary" onclick="changeAdress()" type="button">Update </button>
                  </div>
                  <div  id="saveAdressAlert" hidden  class="alert alert-success mt-2" role="alert">Successfully updated!</div>
                </form>                   
          </div>
        </div>
      </div>




          </div>


            
            <div class="col-lg-4 ps-lg-2">
              <div class="sticky-sidebar">
                <div class="card mb-3 overflow-hidden">
                  <div class="card-header">
                    <h5 class="mb-0">Birthdate & Gender</h5>
                  </div>
                  <div class="card-body bg-light">

                  
                    <div class="ps-2">
                      <form action="/saveGenderBdate" method="post">
                        <h6 class="fw-bold">Change Gender<span class="fs--2 ms-1 text-primary"
                          data-bs-toggle="tooltip" data-bs-placement="top"
                          title=""><span
                            class="fas fa-question-circle"></span></span></h6>
                        <div class="form-check mb-0 lh-1">
                          <input class="form-check-input gender" type="radio" value="male" id="gender"
                            name="view-settings" />
                          <label class="form-check-label mb-0" for="everyone">Male
                          </label>
                        </div>
                        <div class="form-check mb-0 lh-1">
                          <input class="form-check-input gender" type="radio" value="female" id="gender"
                            checked="checked" name="view-settings" />
                          <label class="form-check-label mb-0" for="my-followers">Female
                          </label>
                        </div>
                        <div class="form-check mb-2 lh-1">
                          <input class="form-check-input gender" type="radio" value="others" id="gender"
                            name="view-settings" />
                          <label class="form-check-label mb-0" for="only-me">Others
                          </label>
                        </div>

                        <!-- birthdate -->
                        <h6 class="fw-bold">Change Birthdate<span class="fs--2 ms-1 text-primary"
                          data-bs-toggle="tooltip" data-bs-placement="top"><span
                            class="fas fa-question-circle"></span></span></h6>
                        <div class=" mb-2 lh-1 col-12">
                          
                          <div class="col-6">
                           
                            <input class="form-control datetimepicker" id="datepicker" max="" type="date" placeholder="d/m/y" 
                            value="<%=new Date(data.birthdate).toLocaleDateString("en")%>"/>
                        
                          </div>
                             
                          <div class="col-6 mt-2">
                            <p class="fs--3 text-black">
                              <h6 class="fw-bold">Birthdate: </h6>
                              
                               <span class="fw-bold mt-2" id="displayBdate"><%=new Date(data.birthdate).toLocaleDateString('en',{ year: 'numeric', month: 'long', day: 'numeric'})%></span>
                            </p>
                       </div>
                            </div>

                        <!-- end birthdate  -->
                        <button class="btn btn-primary d-block w-100" onclick="genderBdate()" type="button">Update </button>
                        
                        <div  id="genBdateAlert" hidden  class="alert alert-success mt-2" role="alert">Successfully updated!</div>
                      </form>
                        </div>


                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">Change Password</h5>
                  </div>
                  <div class="card-body bg-light">
                    <form id="passwordForm">
                      <div class="mb-3">
                        <label class="form-label" for="old-password">Old Password</label>
                        <input class="form-control" id="old-password" type="password" />
                        <h6 class="text-danger mt-1" id="oldPassAlert" style="display: none;">Old password doesn't matched!!</h6>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="new-password">New Password</label>
                        <input class="form-control" name="password" id="new-password" type="password" />
                        <span class="correct" id="passSign1" style="display:none"> 
                          <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="incorrect" id="crossSign1" style="display:none">
                          <i class="fa-solid fa-xmark"></i>
                        </span>

                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="confirm-password">Confirm Password</label>
                        <input class="form-control" name="confirmPassword" id="confirm-password" type="password" />
                        <span class="correct" id="passSign2" style="display:none"> 
                          <i class="fa-solid fa-check"></i>
                        </span>
                        <span class="incorrect" id="crossSign2" style="display:none">
                          <i class="fa-solid fa-xmark"></i>
                        </span>

                      </div>
                      <h6 class="text-danger mt-1" id="newPassAlert" style="display: none;">New & Confirm Password doesn't matched!!</h6>
                    
                    
                        <!-- alert -->

                        <div class="alert  alert-warning py-1" id="passAlert1" style="display: none;" role="alert">Password Not Matched !</div>
                        <div class="alert  alert-warning py-1" id="passAlert2" style="display: none;" role="alert">    Passwords must be at least one numeric digit, one uppercase and one lowercase letter !</div>

                        <div  id="passSaveAlert" hidden  class="alert alert-success mt-2" role="alert">Password successfully changed!</div>
                      <button class="btn btn-primary d-block w-100" onclick="changePass()" type="button">Update Password </button>
                    </form>
                  </div>
                </div>
    
              </div>
            </div>
        

        </div>

      </div>


    </main>



    <script src="assets/js/flatpickr.js"></script>
    <script src="scripts/settings.js"></script>
    <%-include("../template/customize"); %>
      <%-include("../template/scripts"); %>
 

  </body>

  </html>